<a href="https://colab.research.google.com/github/Pavan202020/Pavanrepo/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List iteration

In [2]:
cool = [1,2,3,4,5,6,7,8,9]
for i in cool:
  print(i)

1
2
3
4
5
6
7
8
9

In [3]:
a=[1,2,3,4,5]

In [4]:
for i in a:
  print(i, end=' ')

1 2 3 4 5

In [5]:
## Sum in a list

In [3]:
#sum_a=sum(a)
#print(sum_a)

In [5]:
sum=0
for i in a:
  sum=sum+i
print(sum)

NameError: name 'a' is not defined

In [ ]:
### Max value in the list

In [ ]:
maxi = 0
for i in a:
  if i> maxi:
    maxi=i
print(maxi)

## Average in the list

In [4]:
## min value in the list
mini=0
for i in a:
  if i<mini:
    mini=i
print(mini)

NameError: name 'a' is not defined

In [ ]:
avg_a = sum(a)/len(a)
avg_a

In [ ]:
runs=[20,30,67,45,99]

In [ ]:
avg_runs = sum(runs)/len(runs)
avg_runs

### Total runs for even matches

In [ ]:
n=int(input())
print('Max value of n inputted should <= 5')
runs_even = 0
for i in range(1,n,2):
  runs_even = runs_even + runs[i]
print(runs_even)

In [ ]:
## Total runs for odd matches

In [ ]:
print(runs)
odd_runs=0
for i in range(1,5,1):
  odd_runs+=runs[i]
print(odd_runs)